* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;

background-image:
    url("../assets/background.jpg");

background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

color: white;

min-height: 100vh;

display: flex;
flex-direction: column;


}

header {
    width: 80%;
    max-width: 1100px;
    margin: 30px auto;          /* centers the header */
    padding: 25px 40px;
    background-color: #e1dada;   /* different background only for header */
    border-radius: 10px;
}

.nav-wrap {
    display: flex;
    justify-content: center;    /* centers the menu */
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu a {
    color: rgb(35, 33, 33);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s;
}

.menu a:hover {
    color: #bdbdbd;
}


.wrap {
flex: 1;


padding: 80px 12%;

max-width: 1100px;


}

.page-title {
font-size: 70px;


margin-bottom: 25px;


}

.skills-intro {
font-size: 18px;


line-height: 1.8;

margin-bottom: 40px;

color: #f1f1f1;


}

.skill-section {
margin-bottom: 35px;
}

.skill-heading {
font-size: 24px;


color: #f4c542;

margin-bottom: 15px;


}

.skills-list {
display: flex;


gap: 12px;

flex-wrap: wrap;


}

.skills-list span {
padding: 10px 18px;


font-size: 16px;

color: #f1f1f1;

border: 1px solid #f4c542;


}

footer {
text-align: center;

padding: 20px;

font-size: 14px;

background-color: rgba(0, 0, 0, 0.4);


}
